<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>

<style>

table tr, input, submit, select{
width:100%
}

table tr .shared{
width:45%
}


</style>

<center>

<body>
    <h1>CONTROLS</h1>



<form action={{ route }} method='POST'>

<table>
	<tr>
		<td>Signal(y) :</td> 
		<td><input type="text" name="signal" value="{{ request.form.get("signal") }}"></td>
	</tr>
	<tr>
		<td>Hz signal :</td> 
		<td><input type="text" name="hz_signal" value="{{ request.form.get("hz_signal") }}"></td>
	</tr>
	<tr>
		<td>Hz medio:</td> 
		<td>
		<input type="text" class="shared" name="hz_medio_min" value="{{ request.form.get("hz_medio_min") }}">
		<input type="text" class="shared" name="hz_medio_max" value="{{ request.form.get("hz_medio_max") }}">
		</td>
	</tr>
	<tr>
		<td>Muestras :</td> 
		<td><input type="text" name="points" value="{{ request.form.get("points") }}"></td>
	</tr>
	<tr>
		<td>Codificaion :</td> 
		<td>
		<select name="code" value="nz">
		{% for i in codes %}
			<option value="{{i}}">{{i}}</option>
  		{% endfor %}
		</select>
		</td> 
	</tr>
	<tr>
		<td>Frequencia 0 :</td> 
		<td><input type="checkbox" name="keep0" value="{{ request.form.get("keep0") }}"></td>
	</tr>

	<tr>
		<td></td>
		<td ><input type="submit" value="RUN" ></td>
	</tr>
</table>
</form>

</center>

</body>
</html>
