<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>

<center>

<h1>Signal</h1>
    {{ tx|safe }}
<h1>Spectrum</h1>
    {{ spec|safe }}
<h1>Rx Signal</h1>
    {{ rx|safe }}

</center>
</body>
</html>
